@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Borde festoneado */
.scalloped-border {
  height: 20px;
  background-image: radial-gradient(circle at 50% 0, transparent 20px, white 20px);
  background-size: 40px 20px;
  background-repeat: repeat-x;
  margin-top: -1px; /* Para evitar pequeños espacios entre el header y el borde */
}

/* Audio line animation */
@keyframes audioVisualization {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.3);
  }
}

.audio-line-active {
  animation: audioVisualization 1.5s ease-in-out infinite;
  transform-origin: center;
}

/* Custom font styling */
@font-face {
  font-family: "Cute Font";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
  font-weight: normal;
  font-style: normal;
}

.font-cute {
  font-family: "Cute Font", sans-serif;
}


/* Gradientes para los planes de suscripción */
.gradient-miniprint {
  background: linear-gradient(to right, #e6f7c1, #fff9c1);
}

.gradient-printpass {
  background: linear-gradient(to right, #ffd1e3, #e0c3fc);
}

.gradient-premium {
  background: linear-gradient(to right, #d4c1fc, #c1e3fc);
}


.kofi-iframe-container {
  position: relative;
  padding-top: 200%; /* Altura para móviles */
  width: 100%;
  overflow: hidden;
}

.kofi-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 180px); /* Compensar el margen negativo */
  border: 0;
  margin-top: -180px; /* Valor para móviles */
}


@media (min-width: 768px) {
  .kofi-iframe-container {
    padding-top: 150%; /* Altura para escritorio */
  }

  .kofi-iframe {
    margin-top: -300px; /* Valor para escritorio */
    height: calc(100% + 300px); /* Compensar el margen negativo */
  }
}
